*{
  box-sizing: border-box;
  margin: 0 5px;
}

body{
  background-image: linear-gradient(rgb(180, 180, 180), rgb(220,220,220));
  height: 100vh;
}

.logo{
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}

.container{
  background-color: rgb(180, 154, 154);
  max-width: 955px;
  height: 60vh;
  display: block;
  margin: auto;
  border-radius: 4px;
  overflow-y: scroll;
}
.container::-webkit-scrollbar{
  display: none;
}

pre{
  margin: 0;
}

.message {
  background-color: lightblue;
  width:auto;
  word-wrap: break-word;
  max-width: 60%;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid gray;
  white-space: pre-line;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}
.send{
  margin-top: 20px;
}

#send-container{
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  max-width: 955px;
}

#msg-input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  resize: none;
  border-radius: 10px;
  min-height: 32px;
  max-height: 100px;
  margin: 0;
  padding: 10px 60px 10px 10px;
  outline: none;
}

.submit-button{
  position: absolute;
  box-sizing: border-box;
  bottom: 12px;
  right: 4px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  height: 34px;
  float: right;
}